body{
  font-family: 'sans-serif', 'arial';
  font-size:110%;
  background-color:whitesmoke;
}

#ProfilePhoto{
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: 2px solid whitesmoke;
}
header {
  text-align: center;
  background-color:#343330;
  color:aliceblue;
}

#heading{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
  font-size: 110%;
}

#sidebar{
  width: 15%;
  background-color:lightgray;
  background-position-x: left;
  background-position-y:top;
  color:#343330;
  padding: 1rem;
}
.navList{
  list-style-type: none;
  padding: 0%;

}

.main{
  padding: 30px;
  margin: 20px;
}

}

h2 {
  font-size: 40px;
  background-color: #ccc;
  margin: 20px;
  padding: 40px;
}

footer {
  background-color: #343330;
  text-align: center;
  color: azure;
  align-items: center;
}
.icons{
  width: 3rem;
  margin: 0.5rem;
  height: auto;
  border-radius: 40%;
  align-items: center;
}