body{
  font-family: 'sans-serif', 'arial';
  font-size:110%;
  background-color:whitesmoke;
  display: flex;
  flex-direction: column;
}

#ProfilePhoto{
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: 2px solid whitesmoke;
}

header {
  text-align: center;
  background-color:#343330;
  color:aliceblue;
  justify-content: center;
  padding-top: 1rem;
}

#heading{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
  font-size: 110%;
}

#sidebar{
  width: 15%;
  background-color:lightgray;
  background-position-x: left;
  background-position-y:top;
  color:#343330;
  padding: 1rem;
}

.navList{
  list-style-type: none;
  padding: 0%;

}

.main{
display: flex;
flex-direction: row;
overflow: unset;
}

.content{
  padding: 2rem;
}

footer {
  background-color: #343330;
  text-align: center;
  color: azure;
}

.icons{
  width: 3rem;
  margin: 0.5rem;
  height: auto;
  border-radius: 70%;
  align-items: center;
}